/*
+-------------------------------------------------------------------+
| Rajarshi Das                                                      |
+-------------------------------------------------------------------+
| Created: 27 Dec 2023 (Kharar, Punjab)                             |
+-------------------------------------------------------------------+
| Updated:                                                          |
+-------------------------------------------------------------------+
*/

:root {
    --ez-color-prime: #bd2347;
    --ez-about-me-background: #f1cad1;
    --ez-background-color: whitesmoke;
}