/*
+-------------------------------------------------------+
| Rajarshi Das						                    |
+-------------------------------------------------------+
| Created On: 22-Dec-2022				                |
| Updated On: 											|
+-------------------------------------------------------+
*/
:root {
    --rd-banner-bgcolor: #021e39;
    --rd-banner-color: white;
}

body {
    background-color: whitesmoke;
    font-family: 'Roboto';
    font-weight: 300;
    color: RGB(30, 30, 30);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}